@import "./variables.css";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

:root {
  --font-primary: "Inter", sans-serif;
}

body {
  font-family: var(--font-primary);
  font-size: 125%;
  background-color: var(--color-bg);
  color: var(--color-t);
}

strong,
b {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: var(--color-t);
}

code {
  font-family: "Fira Code", "Courier New", monospace;
}

.spacer {
  flex-grow: 1;
}
.container {
  padding: 2% 4%;
}

.centerwrap {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 900px) {
  .container {
    padding: 2% 3%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
