@import "./variables.css";

.title {
  text-align: center;
  color: var(--color-t);
  padding: 1rem;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

.s0 {
  fill: none;
  stroke: var(--color-t);
  stroke-miterlimit: 100;
  stroke-width: 4;
}
.s1 {
  fill: var(--color-t);
}

.btn {
  display: inline-block;
  margin: auto;
  padding: 1% 5%;
  border: solid var(--color-t);
  background-color: var(--color-bg);
  color: var(--color-t);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

button {
  display: inline-block;
  margin: auto;
  padding: 1% 5%;
  border: solid var(--color-t);
  background-color: var(--color-bg);
  color: var(--color-t);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  filter: brightness(70%) !important;
}

button:hover {
  filter: brightness(70%) !important;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}

.clickable.active {
  text-decoration: underline;
}

.dropdown {
  margin-top: 0.2rem;
  border: solid var(--color-focus);
  list-style: none;
  z-index: 100;
  min-width: max-content;
}

.dropdown li {
  padding: 0.2rem;
}

.button-hor {
  display: flex;
  align-items: center;
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input {
  width: 100%;
  font-size: 1.1rem;
  height: 3rem;
  padding-left: 1rem;
  background-color: var(--color-bg);
  color: var(--color-t);
  border: solid var(--color-focus);
  margin: 0;
}

input:focus {
  outline: none;
  box-shadow: none;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bNav {
  text-decoration: none;
  color: var(--color-t);
}

.bNav:hover {
  text-decoration: underline;
}

.secBreak {
  margin-top: 2rem;
  width: 100%;
  border-top: solid var(--color-t);
}

.testArea {
  display: flex;
  width: 100%;
}

.qArea {
  flex: 7;
  padding-bottom: 4rem;
  padding-right: 1rem;
}

.drawerOpen {
  display: none;
}

.chart {
  width: 50%;
  max-width: 800px;
}

@media (max-width: 900px) {
  .logo {
    max-width: 400px;
  }
  .chart {
    width: 100%;
    max-width: 400px;
  }
  .testArea {
    align-items: center;
    width: 100%;
  }
  .qArea {
    flex: 1;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 4rem;
  }
  .qNav {
    display: block;
    width: 50vw;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    height: 100%;
    background-color: var(--color-bg);
  }

  .drawerOpen {
    font-size: 1rem;
    display: block;
    z-index: 988;
    position: fixed;
    top: 50%;
    right: 0;
  }

  .qNav .submit {
    font-size: 1em;
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
    position: static;
    top: 0;
    left: 0;
  }
}

.qNav {
  flex: 3;
}

.bGrid {
  display: grid;
  padding: 0.5rem;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  width: 100%;
  align-items: stretch;
}

.bGrid button {
  font-size: 1rem;
  padding: 0.5rem;
  display: block;
  width: 100%;
  height: 100%;
}

.SelectedOption {
  color: var(--color-bg) !important;
  background-color: var(--color-t) !important;
  border: var(--color-bg) !important;
}

.ViewedQuestion {
  background-color: var(--color-r);
}

.CurrentQuestion {
  color: var(--color-bg) !important;
  background-color: var(--color-t) !important;
}

.MarkedQuestion {
  background-color: var(--color-y);
}

.CurrentQuestion.MarkedQuestion {
  border: solid var(--color-y) !important;
}

.ViewedQuestion.AnsweredQuestion {
  background-color: var(--color-g);
}

.ViewedQuestion.MarkedQuestion.AnsweredQuestion {
  border: solid var(--color-y) !important;
}

.fFooter {
  width: 100%;
  background-color: var(--color-bg);
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
}
